# compiled python
*.pyc

# pytest and coverage
.pytest_cache
.cache
.coverage
/htmlcov/
cov.xml

# sphinx build
docs/_build/

# ide files
*.swp
*.swo
*.idea
.vscode

# setup.py files
build/
dist/
*.egg-info/
.eggs/
